<div class="container" style="display: flex; justify-content: space-around; margin-top: 25px">

  <button type="button" class="btn btn-primary"
          (click)="onStart()"
          [disabled]="loadingSec">
    <span *ngIf="!loadingSec">
           Start
        </span>
  </button>
</div>

<form #f="ngForm" class="m-2 ; w-25">
  <div class="form-group">
    <label for="author">Author</label>
    <input
      name="author"
      id="author"
      class="form-control"
      ngModel
    />
  </div>
  <div class="form-group">
    <label for="message">Text</label>
    <textarea
      name="message"
      id="message"
      class="form-control"
      ngModel
    ></textarea>
  </div>
  <button type="button" class="btn btn-secondary"
          (click)="onSend()"
          [disabled]="loading">
    <span *ngIf="!loading">
           Send
        </span>
    <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    <span *ngIf="loading" class="visually-hidden">Loading...</span>
  </button>
</form>

<div *ngIf="loadingSec" class="spinner-border m-5" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<app-one-message *ngFor="let message of messages"
                 [message]="message">
</app-one-message>
