<div class="card m-6, w-50" *ngIf="message" style="margin-bottom: 20px">
  <div class="card-body" style="text-align: center">
    <h5 class="card-title" >{{ message.datetime }} </h5>
    <h5 class="card-title" >{{ message.author }} </h5>
    <p class="card-title" >{{ message.message }} </p>
  </div>
</div>

